
.missed-word-holder{
	font-size: 32px;
    margin: 32px auto;
    color: #333;
    padding: 6px 12px;
    border-color : #bb8f8e;
    border-style: solid;
    border-width: 0px;
    border-radius: 0px;
    background: inherit;
    font-weight: 600;
    letter-spacing: 12px;
    transition: all ease-in .7s .2s;
    display: inline-block;
   &.final{
   	font-size: 38px;
   	letter-spacing: 3px;
   	background : #9e3c3c;
   	color: #fff;
   	border-width: 5px;
   	border-radius: 16px;
   	margin: 22px auto;
   	text-transform: uppercase;
    animation-duration: 1.3s;
    animation-fill-mode: both;
    animation-name: rubberBand;
   }
}

.letters{
	list-style: none;
	font-size: 13px;
	max-width: 80%;
	display: block;
	text-align: center;
	> li{
		display: inline-block;
		padding: 3px 6px;
		border-radius: 3px;
		margin: auto 2px;
		color : #fff;
		background: #00a4df;
		transition: all linear .3s;
	    &:not(.clicked){
	    	cursor: pointer;
           &:hover{
         background : #108db2;
         box-shadow: 0 0 3px 0 #eaeaea;
         transform : scale(1.3);
	    }
	}

	&.clicked{
        background : #eaeaea;
        color: #666;
        pointer-events: none;
	}
}
}

.ngb-essai{
       font-size: 22px;
       color: #333;
       font-weight: bold;
       margin: 20px auto;
}

.isguessed{
	font-size: 26px;
	> button{
		margin-top: 20px;
		font-size: 16px;
	}

}

.block.text-right{
padding-top : 30px;
	a{
		font-size: 13px;
		line-height: 18px;
		text-decoration : none;
		color : #999;
		transiton : color linear .3s;
		&:hover{
		color : #00a4df;
		}
	}
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    -ms-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    -ms-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    -ms-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    -ms-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    -ms-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
